<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Auction Visit Report App</title>

		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/theme.css">
		<link rel="stylesheet" type="text/css" href="/res/common.css">
		<link rel="stylesheet" type="text/css" href="/lib/react-date-picker/index.css">

		

	</head>
	<body>
		<div class="" id="root"><%- content %></div>
		<script type="text/javascript" src="/bundle.js"></script>
	</body>
</html>